*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
    text-align: center;
}
nav{
    display: block;
    background-color: beige;
    width: 100%;
    text-align: center;
    font-size: 100%;
}
.secao{
    display: block;
    align-items: center;
    text-align: center;
    background-color: burlywood;
    width: 500px;
    height: 500px;
}
button{
    background-color: blue;
    color: white;
    width: 160px;
    height: 100px;
    border-radius: 20px;
}
img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.imagem{
    align-items: center;
    width: 50%;
    height: 50%;
}
header{
    align-items: center;
    text-align: center;
}